<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Registrar Inmueble</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" th:href="@{/css/formulario.css}" />

    <link
      rel="shortcut icon"
      sizes="76x76"
      type="image/x-icon"
      th:href="@{images/logoInmobiliaria2.png}"
    />
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
  </head>
  <body>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <nav th:replace="fragments/navbar :: nav"></nav>

    <div class="align-center">
      <h1>Registrar Oferta</h1>
    </div>
    <form
      th:action="@{/cita/registrar/__${cuentaTributaria}__}"
      method="post"
      enctype="multipart/form-data"
    >
      <input
        hidden
        th:value="${inmueble.cuentaTributaria}"
        name="cuentaTributaria"
      />
      <input
        hidden
        th:value="${usuario.idCodigoTributario}"
        name="idCodigoTributario"
      />

      <label for="diaSemana">Horarios Disponibles</label>
      <select
        class="controls"
        id="diaSemana"
        name="diaSemana"
        th:onchange="actualizarHorariosDisponibles(this.value)"
      >
        <option value="" selected>Selecciona un día</option>
        <th:block th:each="rango : ${rangoHorario}">
          <option th:value="${rango.id}" th:text="${rango.diaSemana}"></option>
        </th:block>
      </select>

      <label for="horaInicio">Hora de inicio:</label>
      <select class="controls" id="horaInicio" name="horaInicio" required>
        <!-- Las opciones se llenarán dinámicamente -->
      </select>

      <label for="horaFin">Hora de fin:</label>
      <select class="controls" id="horaFin" name="horaFin" required>
        <!-- Las opciones se llenarán dinámicamente -->
      </select>

      <br />

      <button type="submit">Guardar Oferta</button>
    </form>
    <script>
      // Función que se llama cuando el día de la semana cambia
      function actualizarHorariosDisponibles(rangoId) {
        // Obtén los selectores de hora de inicio y fin
        var selectHoraInicio = document.getElementById("horaInicio");
        var selectHoraFin = document.getElementById("horaFin");

        // Limpia las opciones existentes
        selectHoraInicio.innerHTML = "";
        selectHoraFin.innerHTML = "";

        // Aquí suponemos que tienes una variable global o una forma de obtener los horarios disponibles
        // Por ejemplo, podrías tener algo como una variable 'horariosPorRango' que contenga esta información
        var horariosDisponibles = horariosPorRango[rangoId]; // Esta debe ser proporcionada de alguna manera

        // Llena las opciones de hora de inicio y fin
        horariosDisponibles.forEach(function (hora) {
          var optionInicio = new Option(hora, hora);
          var optionFin = new Option(hora, hora);

          // Añade las opciones al selector de hora de inicio
          selectHoraInicio.add(optionInicio);

          // Añade las opciones al selector de hora de fin
          selectHoraFin.add(optionFin);
        });
      }
    </script>
    <script th:inline="javascript">
      /*<![CDATA[*/
      // Inicializa la variable en el alcance global
      var horariosPorRango = /*[[${horariosDisponiblesMap}]]*/ {};

      document.addEventListener("DOMContentLoaded", (event) => {
        // La página está completamente cargada, ahora puedes asegurarte de que
        // horariosPorRango esté disponible para tu función actualizarHorariosDisponibles
      });
      /*]]>*/
    </script>
  </body>
</html>
