<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Registrar Oferta</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" th:href="@{/css/formulario.css}" />

    <link
      rel="shortcut icon"
      sizes="76x76"
      type="image/x-icon"
      th:href="@{images/logoInmobiliaria2.png}"
    />
  </head>

  <body>
    <nav th:replace="fragments/navbar :: nav"></nav>

    <div class="align-center">
      <h1>Registrar Oferta</h1>
    </div>
    <form
      class="form-register"
      th:action="@{/oferta/aceptar/__${cuentaTributaria}__}"
      method="post"
      enctype="multipart/form-data"
    >
      <input
        hidden
        th:value="${inmueble.cuentaTributaria}"
        name="cuentaTributaria"
      />
      <input
        hidden
        th:value="${usuario.idCodigoTributario}"
        name="idCodigoTributario"
      />

      <input
        class="controls"
        type="number"
        id="valorOferta"
        name="valorOferta"
        th:value="${valorOferta}"
        placeholder="Valor de la Oferta"
      />
      <input
        class="controls"
        type="date"
        id="fechaOferta"
        name="fechaOferta"
        placeholder="Fecha de la Oferta"
      />

      <button type="submit">Guardar Oferta</button>
      <button type="submit">Revocar Oferta</button>

      
    </form>
  </body>
</html>
