<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head"> </head>
  <body class="background_img">
    <!-- This is to display the Navbar of the website. -->
    <nav th:replace="fragments/navbar :: nav"></nav>

    <!-- End of NavBar -->

    <!-- This is to make the Form Contents appear on the Image -->
    <main id="formulario">
      <form
        th:action="@{/inmueble/buscar-inmuebles}"
        method="get"
        class="container mt-5 mt-6 rounded mx-auto"
        style="
          max-width: 650px;
          padding: 30px 30px 60px 30px;
          background-color: white;
          font-family: Helvetica;
          font-weight: 600;
          color: #484848;
        "
      >
        <h1 style="font-size: 2em; font-weight: bold; margin-bottom: 15px">
          Encuentra tu lugar, experiencias únicas.
        </h1>
        <div class="form-group" style="font-size: small">
          <label>Transacción</label>
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="transaccionDropdown"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Seleccionar Transacción
            </button>
            <div class="dropdown-menu" aria-labelledby="transaccionDropdown">
              <a
                class="dropdown-item"
                th:href="@{/inmueble/busqueda(transaccion='venta')}"
                >Venta</a
              >
              <a
                class="dropdown-item"
                th:href="@{/inmueble/busqueda(transaccion='alquiler')}"
                >Alquiler</a
              >
              <a
                class="dropdown-item"
                th:href="@{/inmueble/busqueda(transaccion='alquilerTemporal')}"
                >Alquiler Temporal</a
              >
            </div>
          </div>
        </div>

        <div class="form-group" style="font-size: small">
          <label>Tipo de Inmueble</label>
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="tipoInmuebleDropdown"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Seleccionar Tipo de Inmueble
            </button>
            <div class="dropdown-menu" aria-labelledby="tipoInmuebleDropdown">
              <a
                class="dropdown-item"
                th:href="@{/inmueble/busqueda(tipoInmueble='casa')}"
                >Casa</a
              >
              <a
                class="dropdown-item"
                th:href="@{/inmueble/busqueda(tipoInmueble='departamento')}"
                >Departamento</a
              >
              <a
                class="dropdown-item"
                th:href="@{/inmueble/busqueda(tipoInmueble='ph')}"
                >PH</a
              >
              <a
                class="dropdown-item"
                th:href="@{/inmueble/busqueda(tipoInmueble='terreno')}"
                >Terreno</a
              >
              <a
                class="dropdown-item"
                th:href="@{/inmueble/busqueda(tipoInmueble='oficina')}"
                >Oficina</a
              >
              <a
                class="dropdown-item"
                th:href="@{/inmueble/busqueda(tipoInmueble='local')}"
                >Local</a
              >
              <a
                class="dropdown-item"
                th:href="@{/inmueble/busqueda(tipoInmueble='cochera')}"
                >Cochera</a
              >
              <!-- Agrega más opciones según tus tipos de inmueble disponibles -->
            </div>
          </div>
        </div>
        <div class="form-group" style="font-size: small">
          <label>Donde</label><br />
          <input
            class="form-control"
            type="text"
            placeholder="Cualquier lugar"
            name="ubicacion"
          />
        </div>
        <!--<div class="input-group-prepend" style=" font-size: small;">
                        <label>Fecha de ingreso</label> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                        <label>Fecha de egreso</label><br>
                </div>
                <div class="input-group" style=" font-size: small;">
                        <input class="form-control" type="date" placeholder="dd-mm-aaaa" name="checkin" />
                        <input class="form-control" type="date" placeholder="dd-mm-aaaa" name="checkout" />
                </div> -->
        <br />
        <div class="form-group">
          <button
            type="submit"
            class="btn btn-primary btn-lg"
            style="float: right"
          >
            Buscar
          </button>
        </div>
      </form>
    </main>
    <!-- Form Ends here. -->

    <!-- The below section displays the Reviews and Feedbacks given by the users. -->

    <br />

    <!-- Reviews and Feedbacks which uses Bootstrap Grid property, includes images  -->

    <div th:replace="fragments/publicaciones :: publicaciones"></div>
    <hr />
    <div
      class="container mt-5 mt-5 mx-auto"
      style="
        padding: 2px 100px;
        font-size: 14px;
        font-family: Helvetica;
        position: relative;
      "
    >
      <h3>Que reseñas nos dejan los huéspedes...</h3>

      <!-- SVG for particular Star Symbol -->

      <svg
        viewBox="0 0 24 24"
        role="presentation"
        aria-hidden="true"
        focusable="false"
        style="height: 20px; width: 20px; fill: rgb(255, 180, 0)"
      >
        <path
          d="m21.95 9.48a.84.84 0 0 0 -.87-.48h-4.62a.5.5 0 0 0 0 1l4.14.01-4.81 4.17a.5.5 0 0 0 -.14.57l2.65 6.38-6.07-3.72a.5.5 0 0 0 -.52 0l-6.08 3.72 2.65-6.37a.5.5 0 0 0 -.13-.57l-4.75-4.18h5.75a.5.5 0 0 0 .46-.3l2.37-5.37 1.58 3.57a.5.5 0 0 0 .91-.41l-1.72-3.88a.8.8 0 0 0 -1.56-.01l-2.38 5.39h-5.9a.83.83 0 0 0 -.87.48.85.85 0 0 0 .32.96l4.85 4.25-2.78 6.67a.81.81 0 0 0 .16.98.66.66 0 0 0 .43.15 1.1 1.1 0 0 0 .56-.18l6.37-3.91 6.38 3.92a.81.81 0 0 0 .99.03c.15-.12.37-.41.15-1l-2.77-6.66 4.92-4.26a.84.84 0 0 0 .31-.95zm-.78.53h-.01"
          fill="#484848"
        ></path>
        <path
          d="m11 21.5a.5.5 0 1 1 -.5-.5.5.5 0 0 1 .5.5zm-3.5-15.5a.5.5 0 1 0 .5.5.5.5 0 0 0 -.5-.5zm15 10h-.5v-.5a.5.5 0 0 0 -1 0v .5h-.5a.5.5 0 0 0 0 1h .5v.5a.5.5 0 0 0 1 0v-.5h.5a.5.5 0 0 0 0-1zm-15-13h-.5v-.5a.5.5 0 0 0 -1 0v .5h-.5a.5.5 0 0 0 0 1h .5v.5a.5.5 0 0 0 1 0v-.5h.5a.5.5 0 0 0 0-1zm10.22 7.54a.84.84 0 0 0 -.17-.02q-.28-.01-3.19 0a .6.6 0 0 1 -.55-.35l-1.5-3.23a.42.42 0 0 0 -.75 0l-1.81 4.14a2.92 2.92 0 0 0 4.12 3.72l.46-.26 3.49-2.99.16-.18a.5.5 0 0 0 -.26-.82z"
        ></path>
      </svg>
      <!-- End of SVG -->
      <p style="display: inline">
        Los lugares mejor puntuados.
        <strong>4.6 de 5 estrellas</strong>
        con <strong> más de 2000 reviews </strong>
      </p>
    </div>
    <div th:replace="fragments/footer :: footer"></div>

    <!--JavaScript-->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
