<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <link rel="stylesheet" th:href="@{/css/formulario.css}">
</head>

<body class="background_img">

<nav th:replace="fragments/navbar :: nav"></nav>

<div class="container mt-5 rounded mx-auto" style="max-width: 650px; background-color: white; font-family: Helvetica; font-weight: 600; color: #484848;">
    <h1 style="font-size: 2em; font-weight: bold; margin-bottom: 15px;">Editar Inmueble</h1>

    <form class = "form-register" th:action="@{/inmueble/modificar/__${inmueble.cuentaTributaria}__}" method="POST" enctype="multipart/form-data">

        <!-- Luego, puedes usar ${cuentaTributaria} para acceder a la cuentaTributaria en la vista -->
        <input type = "hidden" name="cuentaTributaria" th:value="${cuentaTributaria}">
        <!-- Campos para editar los detalles del inmueble -->
        <div class="form-group">
            <label for="archivo">Imagen:</label>
            <input type="file" name="archivo" class="form-control">
        </div>
        <div class="form-group">
            <label for="transaccion">Transacción:</label>
            <input type="text" name="transaccion" th:value="${inmueble.transaccion}" />
        </div>
        <div class="form-group">
            <label for="citaDiaHora">Cita Día/Hora:</label>
            <input type="text" name="citaDiaHora" class="form-control" th:value="${inmueble.citaDiaHora}">
        </div>
        <div class="form-group">
            <label for="tituloAnuncio">Título del Anuncio:</label>
            <input type="text" name="tituloAnuncio" class="form-control" th:value="${inmueble.tituloAnuncio}">
        </div>
        <div class="form-group">
            <label for="descripcionAnuncio">Descripción del Anuncio:</label>
            <textarea name="descripcionAnuncio" class="form-control" th:text="${inmueble.descripcionAnuncio}"></textarea>
        </div>
        <div class="form-group">
            <label for="precioAlquilerVenta">Precio de Alquiler/Venta:</label>
            <input type="number" name="precioAlquilerVenta" class="form-control" th:value="${inmueble.precioAlquilerVenta}">
        </div>
        <div class="form-group">
            <label for="caracteristicaInmueble">Características del Inmueble:</label>
            <input type="text" name="caracteristicaInmueble" class="form-control" th:value="${inmueble.caracteristicaInmueble}">
        </div>
        <div class="form-group">
            <label for="estado">Estado:</label>
            <input type="text" name="estado" class="form-control" th:value="${inmueble.estado}">
        </div>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
</div>



<hr>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>