<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Registrar Inmueble</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" i
          ntegrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" th:href="@{/css/formulario.css}" />

    <link
      rel="shortcut icon"
      sizes="76x76"
      type="image/x-icon"
      th:href="@{images/logoInmobiliaria2.png}"
    />
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
  </head>
  <head th:replace="fragments/head :: head"> </head>
  <body>
    <nav th:replace="/fragments/navbar :: nav"></nav>

    <form
      class="form-register"
      th:action="@{/inmueble/modificar/__${inmueble.cuentaTributaria}__}"
      method="POST"
      enctype="multipart/form-data"
    >
      <input hidden name="cuentaTributaria" th:value="${cuentaTributaria}" />

      <div class="form-group my-3">
        <label class="mb-2">Modificar Inmueble</label>
        <label for="archivoPrincipal">Imagen de Portada:</label>
        <input
          class="controls"
          type="file"
          id="archivoPrincipal"
          name="imagenPrincipal"
          accept="image/*"
          required
        />
        <label for="archivosSecundarios">Imágenes Secundarias:</label>
        <input
          class="controls"
          type="file"
          id="archivosSecundarios"
          name="archivos"
          accept="image/*"
          multiple
          required
        />

        <label for="tituloAnuncio">Titulo del Anuncio</label>
        <input
          name="tituloAnuncio"
          type="text"
          class="form-control controls"
          th:value="${inmueble.tituloAnuncio}"
          placeholder="Titulo"
        />
        <label for="descripcionAnuncio">Descripcion del Anuncio</label>
        <input
          th:value="${inmueble.descripcionAnuncio}"
          type="text"
          class="form-control controls"
          name="descripcionAnuncio"
          placeholder="Descripcion"
        />
        <label for="caracteristicaInmueble">Caracteristicas del Inmueble</label>
        <input
          th:value="${inmueble.caracteristicaInmueble}"
          type="text"
          class="form-control controls"
          name="caracteristicaInmueble"
          placeholder="Caracteristicas"
        />
        <label for="diaSemana">Horarios Disponibles</label>
        <br />
        <label for="diaSemana">Día de la semana:</label>
        <select class="controls" id="diaSemana" name="diaSemana">
          <option value="Lunes">Lunes</option>
          <option value="Martes">Martes</option>
          <option value="Miercoles">Miercoles</option>
          <option value="Jueves">Jueves</option>
          <option value="Viernes">Viernes</option>
        </select>

        <br />

        <label for="horaInicio">Hora de inicio:</label>
        <input
          class="controls"
          type="time"
          id="horaInicio"
          name="horaInicio"
          required
        />

        <label for="horaFin">Hora de fin:</label>
        <input
          class="controls"
          type="time"
          id="horaFin"
          name="horaFin"
          required
        />

        <label for="estado">Estado del Inmueble</label>
        <select class="controls" id="estado" name="estado">
          <option value="Disponible">Disponible</option>
          <option value="Reservado">Reservado</option>
          <option value="Vendido">Vendido</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary mt-3 botons">
        Actualizar
      </button>
    </form>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
