<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Registrar Inmueble</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" th:href="@{/css/formulario.css}" />

    <link
      rel="shortcut icon"
      sizes="76x76"
      type="image/x-icon"
      th:href="@{images/logoInmobiliaria2.png}"
    />
  </head>
  <head th:replace="fragments/head :: head"> </head>

  <body>
    <nav th:replace="fragments/navbar :: nav"></nav>

    <div class="align-center">
      <h1>Registrar Inmueble</h1>
    </div>
    <form
      class="form-register"
      th:action="@{/inmueble/registrar}"
      method="post"
      enctype="multipart/form-data"
    >
      <input
        class="controls"
        type="text"
        id="cuentaTributaria"
        name="cuentaTributaria"
        placeholder="Cuenta Tributaria"
      />

      <label for="tipoInmueble">Tipo de Inmueble:</label>

      <select class="controls"id="tipoInmueble" name="tipoInmueble">
        <option value="casa">Casa</option>
        <option value="ph">PH</option>
        <option value="departamento">Departamento</option>
        <option value="terreno">Terreno</option>
        <option value="oficina">Oficina</option>
        <option value="local">Local</option>
        <option value="cochera">Cochera</option>
        <!-- Otras opciones -->
      </select>

      <input
        class="controls"
        type="text"
        id="direccion"
        name="direccion"
        placeholder="direccion"
      />
      <input
        class="controls"
        type="text"
        id="ciudad"
        name="ciudad"
        placeholder="Ciudad"
      />
      <input
        class="controls"
        type="text"
        id="provincia"
        name="provincia"
        placeholder="Provincia"
      />

      <label for="archivo">Imagen del Inmueble</label>
      <input
        class="controls"
        type="file"
        id="archivo"
        name="archivo"
        accept="image/*"
      />

      <label for="transaccion">Transacción</label>
      <select class="controls" id="transaccion" name="transaccion">

        <option value="venta">Venta</option>
        <option value="alquiler">Alquiler</option>
        <option value="alquilerTemporal">Alquiler Temporal</option>
        <!-- Otras opciones -->
      </select>

      <input
        class="controls"
        type="text"
        id="tituloAnuncio"
        name="tituloAnuncio"
        placeholder="Titulo del Anuncio"
      />

      <textarea
        class="controls"
        id="descripcionAnuncio"
        name="descripcionAnuncio"
        placeholder="Descripción del Anuncio"
      ></textarea>

      <input
        class="controls"
        type="number"
        id="precioAlquilerVenta"
        name="precioAlquilerVenta"
        placeholder="Precio del Alquiler o Venta"
      />

      <textarea
        class="controls"
        id="caracteristicaInmueble"
        name="caracteristicaInmueble"
        placeholder="Caracteristicas del Inmueble"
      ></textarea>

      <label for="estado">Estado del Inmueble</label>
      <select class="controls" id="estado" name="estado">
        <option value="Disponible">Disponible</option>
        <option value="Reservado">Reservado</option>
        <option value="Vendido">Vendido</option>
      </select>


      <label for="diaSemana">Horarios Disponibles</label>
      <br>
      <label for="diaSemana">Día de la semana:</label>
      <select class="controls" id="diaSemana" name="diaSemana">
        <option value="Lunes">Lunes</option>
        <option value="Martes">Martes</option>
        <option value="Miercoles">Miercoles</option>
        <option value="Jueves">Jueves</option>
        <option value="Viernes">Viernes</option>
        <!-- Agrega opciones para otros días de la semana -->
      </select>

      <br>

      <label for="horaInicio">Hora de inicio:</label>
      <input class="controls" type="time" id="horaInicio" name="horaInicio" required>

      <label for="horaFin">Hora de fin:</label>
      <input class="controls" type="time" id="horaFin" name="horaFin" required>

      <br>

      <button class="botons" type="submit">Guardar Inmueble</button>
    </form>

  <script th:src="@{/js/script.js}" type = "text/javascript"></script>

  </body>
</html>
