<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/fragments/head :: head">
    <link rel="stylesheet" th:href="@{/css/custom.css}" />
  </head>
  <body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container">
      <h2>Detalles del Inmueble</h2>
      <div class="inmueble-details">
        <div class="inmueble-image">
          <img
            th:src="|data:${inmueble.imagen.mime};base64,${imagenBase64}|"
            alt="Imagen del Inmueble"
            style="max-width: 100%; max-height: 300px; object-fit: cover"
          />
        </div>
        <div class="inmueble-info">
          <h3 th:text="${inmueble.tituloAnuncio}"></h3>
          <p th:text="${inmueble.descripcionAnuncio}"></p>
          <ul>
            <li>
              <strong>Tipo de Inmueble:</strong>
              <span th:text="${inmueble.tipoInmueble}"></span>
            </li>
            <li>
              <strong>Provincia:</strong>
              <span th:text="${inmueble.provincia}"></span>
            </li>
            <li>
              <strong>Ciudad:</strong>
              <span th:text="${inmueble.ciudad}"></span>
            </li>
            <li>
              <strong>Dirección:</strong>
              <span th:text="${inmueble.direccion}"></span>
            </li>
            <li>
              <strong>Oferta:</strong>
              <span th:text="${inmueble.transaccion}"></span>
            </li>
            <li>
              <strong>Características del Inmueble:</strong>
              <span th:text="${inmueble.caracteristicaInmueble}"></span>
            </li>
            <li>
              <strong>Valor del Inmueble: $</strong>
              <span th:text="${inmueble.precioAlquilerVenta}"></span>
            </li>
            <li>
              <strong>Horarios Disponibles:</strong>
              <span th:text="${rangoHorario.diaSemana + ' Desde: ' + rangoHorario.horaInicio + ' Hasta: ' + rangoHorario.horaFin}"></span>
            </li>
            <li>
              <strong>Estado:</strong>
              <span th:text="${inmueble.estado}"></span>
            </li>
          </ul>
          <p>
            <strong>Valor del Inmueble: $</strong>
            <span th:text="${inmueble.precioAlquilerVenta}"></span>
          </p>
          <p>
            <strong>Estado:</strong> <span th:text="${inmueble.estado}"></span>
          </p>
          <div class="text-center">
            <a
              href="#"
              th:href="@{/oferta/enviar/{cuentaTributaria}(cuentaTributaria=${cuentaTributaria})}"
              class="btn btn-primary"
            >
              <button class="btn btn-primary" id="aceptarOfertaButton">
                Ofertar
              </button>
            </a>
          </div>
          <section class="text-center container">
            <div class="row mt-3">
              <div class="divVolver">
                <a
                  th:href="@{/}"
                  class="btn btn-secondary my-2 botonVolver botones"
                  >Inicio</a
                >
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
