<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <title>Registrar Inmueble</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" th:href="@{/css/formulario.css}"/>

    <link rel="shortcut icon" sizes="76x76" type="image/x-icon" th:href="@{images/logoInmobiliaria2.png}" />
</head>
<body>
    <nav th:replace="fragments/navbar :: nav"></nav>

    <div class="container-fluid m-5 contenedor">

        <form class="formulario" th:action="@{/usuario/registrar/}" method="POST">
            <div class="form-group my-3">
                <label class="mb-2">Registrar usuario</label> 
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="nombre"/>
                <input type="text" class="form-control" name="apellido" placeholder="Apellido" th:value="${apellido}"/>
                <input type="text" class="form-control" name="DNI" placeholder="DNI" th:value="${DNI}"/>
                <select id="sexo" name="sexo" th:value="${sexo}">
                    <option value="hombre">Hombre</option>
                    <option value="mujer">Mujer</option>
                </select>
                <input type="text" class="form-control" name="direccion" placeholder="Dirección" th:value="${direccion}"/>
                <input type="text" class="form-control" name="ciudad" placeholder="Ciudad" th:value="${ciudad}"/>
                <input type="text" class="form-control" name="provincia" placeholder="Provincia" th:value="${provincia}"/>
                <input type="text" class="form-control" name="celular" placeholder="Celular" th:value="${celular}"/>
                <input type="text" class="form-control" name="idCodigoTributario" placeholder="Codigo tributario" th:value="${idCodigoTributario}"/>
                <select id="tipo_persona" name="tipo_persona" th:value="${tipo_persona}">
                    <option value="fisica">Física</option>
                    <option value="juridica">Jurídica</option>
                </select>

                <input type="text" class="form-control" name="email" placeholder="Email" th:value="${email}"/>
                <input type="password" class="form-control" name="contrasenia" placeholder="Contraseña" th:value="${contrasenia}"/>
                <input type="password" class="form-control" name="contrasenia2" placeholder="Repetir contraseña" th:value="${contrasenia2}"/>
            </div>

            <button type="submit" class="btn btn-primary mt-3 botones">Guardar</button>
        </form>

        <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
            <div class="card-body">
                <h5 class="card-title">Exito!</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>
        <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError" >
            <div class="card-body">
                <h5 class="card-title">Error 👎</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>
        <section class=" text-center container">
            <div class="row mt-3">
                <div class="divVolver">
                    <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                </div>
            </div>
        </section>
    </div>

    <footer class="text-muted py-5">
        <div class="containerFooter">
            <p class="mb-1">Album example is &copy; Bootstrap,<br>but please download and customize it for yourself!</p>
            <p class="mb-0">New to Bootstrap? <a href="/"><br>Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
            <p class="float-end mb-1">
                <a href="#" style="text-decoration:none"><span>⬆️</span> Back to top</a>
            </p>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>